@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothamPro/GothamPro.eot');
  src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothamProBold/GothamPro-Bold.eot');
  src: url('../fonts/GothamProBold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProBold/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamProBold/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Pt Light';
  src: url('../fonts/FuturaPtLight/futura-pt-light.eot');
  src: url('../fonts/FuturaPtLight/futura-pt-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPtLight/futura-pt-light.woff') format('woff'),
  url('../fonts/FuturaPtLight/futura-pt-light.ttf') format('truetype'),
  url('../fonts/FuturaPtLight/futura-pt-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}