@mixin textHover() {
  //font-family: "Gotham Pro Bold";
  color: $text-hover;
  //letter-spacing: .05px;
}

@mixin categoryButton($color: #43B9D4) {
  color: $color;
  background-color: #fff;
  border: 1px solid $lightgray;
  width: 85px;
  height: 30px;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 0;
  font-family: "Gotham Pro Regular";
  margin-left: 0;

  &:first-of-type {
    margin-right: 15px;
  }
  & svg {
    height: 100%;
  }
  & svg path {
    fill: rgba(23,54,61,.1);
  }

  & .icon {
    border-right: 1px solid $lightgray;
    padding-right: 8px;
    width: 24px;
    svg {
      //display: none;
    }
  }
}