.newsroom {
  &--article {
    margin-top: 45px;
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
    .item--article {
      margin-bottom: 30px;
    }
  }
  .btn {
    margin-top: 30px;
    @include media-breakpoint-down(md) {
      margin-top: 15px;
      width: 183px;
      height: 45px;
    }
  }
  .container {
    @include media-breakpoint-down(md) {
      //max-width: 100%;
      //width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .newsroom__background {
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 45px;
      padding-bottom: 50px;
    }
    @include media-breakpoint-down(xs) {
      padding-bottom: 40px;
    }
  }

  .newsroom__title {
    font-family: "Futura Pt Light";
    font-size: 38px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 500;
    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
      font-size: 28px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 35px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  .owl-carousel {
    position: relative;
    background-color: transparent;
  }

  .item {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: transparent;

    &__get-more {
      position: absolute;
      width: 100%;
      height: 58px;
      left: 0;
      bottom: 0;
      @include media-breakpoint-down(md) {
        bottom: 20px;
        height: 18px;
      }
      @include media-breakpoint-down(sm) {
        bottom: 20px;
      }
    }
    &__picture-holder:hover a:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba($color: $cyan, $alpha: .1);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      @include media-breakpoint-only(lg) {
        width: 374px;
      }
    }
    &__picture-holder a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 2;
    }
    &__picture[src=''] {
      display: block;
      position: relative;
      cursor: pointer;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: darken(#f9f9f9, 2%) url(../img/icons/logoForProd.svg) no-repeat center 70%;
        background-size: 200% 200%;
      }
    }
    &__picture {
      position: relative;
      height: 416px;
      width: 100%;
      z-index: 1;
      background: #ebebeb;
      @include media-breakpoint-only(lg) {
        width: 374px !important;
        height: 327px;
      }
      @include media-breakpoint-down(md) {
        height: 256.12px;
      }
      @include media-breakpoint-down(xs) {
        height: 253px;
      }
    }

    &__description {
      position: absolute;
      width: 100%;
      height: 176px;
      z-index: 22;
      background-color: rgba(255, 255, 255, .9);
      text-align: center;
      font-family: "Gotham Pro Regular";
      padding-top: 35px;
      padding-bottom: 25px;
      bottom: 0;
      @include media-breakpoint-only(lg) {
        width: 374px;
        height: 138px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 15px;
        height: 108px;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 20px;
      }
      @include media-breakpoint-down(xs) {
        height: 107px;
      }
      a {
        color: $cyan;
        &:hover {
          color: $cyan;
          text-decoration: none;
        }
      }
    }

    &__title {
      font-size: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 10px;
      &:hover {
        color: $cyan;
      }
      @include media-breakpoint-only(lg) {
        line-height: 17px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 18px;
      }
    }

    &__text {
      font-size: 12px;
      margin-bottom: 40px;
      color: #8a8a8a;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    &__icon {

    }

    &__link {
      position: relative;
      font-size: 13px;
      color: $black;
      text-transform: uppercase;
      font-weight: 400;
      &:hover {
        text-decoration: none;
        color: $cyan;
      }
      &:before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #f3f3f3;
        margin-bottom: 15px;
        @include media-breakpoint-down(md) {
          margin-bottom: 5px;
        }
      }
      .icon {
        margin-left: 5px;
        & svg path {
          fill: $newsroomArrovColor;
        }
      }
    }
  }

  .owl-carousel {
    position: relative;
  }


  .owl-nav {
    color: #51bfd7;
    font-size: 1.2rem;
    font-weight: 400;

    &__icon {
      width: 20px;
      height: 15px;
    }

    .owl-next,
    .owl-prev {
      top: 40%;

      &:focus {
        border: 0;
        outline: none;
      }

      &:active {
        transform: scale(1.1);
      }
    }

    .owl-prev {
      position: absolute;
      left: -65px;
      transform: rotate(180deg);

      &:active {
        transform: rotate(180deg);
      }
    }

    .owl-next {
      position: absolute;
      right: -65px;
    }
  }

  .owl-dots {
    display: flex;
    justify-content: center;
    margin: 45px 0 0 0;
    @include media-breakpoint-down(md) {
      margin: 35px 0 0 0;
    }
  }

  .owl-dot {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #51bfd7 !important;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
    &.active {
      position: relative;
      background-color: $black !important;

      &:after {
        position: absolute;
        content: '';
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #51bfd7;
        top: -4px;
        left: -4px;
        transition: all 1s;
      }
    }
  }
}