@import "colors";

$link-hover: $black;
$text-hover: $cyan;
$saleColor: $red;
$sidebarUnderline: $lightgray;
$sidebarTitleUnderline: $gray;
$cardTextColor: $darkCyan;
$cardCodeColor: $gray;
$trackActiveColor: $cyan2;
$sidebarContactsHoverColor: $cyan2;
$defaultAddressColor: $cyan2;
$removeAddressHoverColor: $cyan;
$accountExitColor: $red;
$categorySubCategoryHover: $cyan;
$newsroomArrovColor: $cyan;
$benefitCooperationLinkColor: $cyan;
$cartLinkColor: $darkCyan;
$cartCodeColor: $gray;
$printOrderTextColor: $cyan3;
$orderTableCaptionTextColor: $darkCyan;
$orderTableCategoryTextColor: $darkCyan;
$orderTableCodeTextColor: $gray2;