.product-slider.not-full .owl-stage {
    display: flex;
    justify-content: center;
}

.product-slider.not-full .img {
    width: auto !important;
}

.product-slider.not-full .owl-item {
    width: auto !important;
}

.product-slider.not-full .current {
    border: 2px solid #43b9d4;
}